body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 80%;
    text-align: center;
}

.header {
    font-size: 1.5em;
    margin-bottom: 40px; /* Increased space under the header */
    max-width: 500px;    /* Maximum width for the header text */
    margin-left: auto;
    margin-right: auto;
}

.content-section {
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.line {
    width: 2px;
    height: 60%;
    background-color: #333;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #555;
}
